{% extends "glowny.html" %}
{% load bootstrap %}
{% block tytul %} Rejestracja {% endblock %}

{% block strona %} 
    <div class="card" style="width: 28rem;">
        <div class="card-body">
          <h5 class="card-title">Zarejestruj się</h5>
          <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <br>
            <button type="submit" class="btn btn-success">Zarejestruj <i class="fa-solid fa-user-plus"></i></button>
        </form>
        </div>
      </div>
{% endblock %}
